
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:2;
}

.bottom_nav .mu-bottom-nav-shift-wrapper {
  display: flex;
  justify-content: space-around;
}

.bottom_nav {
  height: 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  overflow: auto;
  width: 100%;
  padding-top: 49px;
  padding-bottom: 51px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.tab, .tabs {
  position: fixed;
  border:0;
}
.box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, .117647);
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.vueco-btn {
  width: 100%;
  bottom: 0;
}
